<h2>{{ title }}</h2>
<hr />

<section id="form">
    <form (ngSubmit)="onSubmit()" #formHashtag="ngForm">
        <div class="form-group">
            <label>Insira a Hashtag</label>
            <input type="text" [(ngModel)]="hashtag.nome" name="Nome" class="form-control">
            <label>Descrição</label>
            <input type="text" [(ngModel)]="hashtag.descricao" name="Descricao" rows="Nome"  class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mr-2">Salvar</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['']">Cancelar</button>
    </form>
</section>